ol(class="flex items-center whitespace-nowrap")
    each item in breadcrumbs
        li(class="flex items-center text-sm text-gray-500")
            if typeof item === 'object'
                a(class="hover:text-[#7F56D9]" href=`${item.href}`)= item.text
                i(class="lni lni-chevron-right mx-2")
            else
                span(class="text-gray-700 font-semibold")= item