div(class="w-full divide-y divide-gray-200 border rounded-lg overflow-hidden shadow-md")
    div(class="flex items-center justify-between py-4 px-6")
        h1(class="text-lg font-semibold text-gray-800")= wrapperTitle

    div(class="divide-y divide-gray-200")
        block content
