doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Nash Bookstore Admin
        <link rel="icon" type="image/svg+xml" href="/logo.png" />
        link(href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet")
        link(rel="stylesheet" href="../style.css")
        <script src="https://cdn.tailwindcss.com"></script>
        link(rel="stylesheet" href="../virtual-select/virtual-select.min.css")
        <script src="../virtual-select/virtual-select.min.js"></script>
        <script src="https://cdn.tiny.cloud/1/lz7vxk55qjjuyycp7mss6randv22k1pudtuxlk5jbbmwo2rh/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    body
        block body