extends ../partials/dashboard-layout

block content
    - var breadcrumbs = [{ text: 'Dashboard', href: '/' }, 'Promotion Lists']
    include ../partials/breadcrumbs

    div(class="w-full h-full flex flex-col items-center mt-4")
        div(class="w-full divide-y divide-gray-200 border rounded-lg overflow-hidden shadow-md")
            div(class="flex items-center justify-between py-4 px-6")
                h1(class="text-lg font-semibold text-gray-800") Promotion lists
                button(class="primary-btn" onclick="openModal()")
                    i.lni.lni-plus
                    span Add List

            table(class="min-w-full divide-y divide-gray-200")
                - var columns = ['ID', 'Name', 'Slug', 'Created At', 'Updated At']
                include ../partials/head-table

                - var rows = data
                include ../partials/body-table
                    block items
                        each promotionList in data
                            tr(key=promotionList.id class="hover:bg-gray-50 hover:text-[#7F56D9] cursor-pointer" onclick=`window.location='/promotion-lists/${promotionList.id}'`) 
                                each prop in ['id', 'name', 'slug', 'createdAt', 'updatedAt']
                                    td(class="py-4 px-6")= promotionList[prop]

            div(class="py-4 px-6")
                include ../partials/pagination.pug

    - var modalTitle = 'Add Promotion List'
    include ../partials/modal
        block modalFormContent
            form(id="add-promotion-list-form" onsubmit="addPromotionList(event)")
                div(class="mb-8")
                    label(for="name" class="block text-gray-700 text-sm font-medium mb-2") Name
                    input(id="name" type="text" name="name" class="modal-input" autocomplete="off")

                div(class="flex gap-2 justify-end")
                    button(type="button" class="py-2 px-4 border rounded-md bg-gray-50 text-gray-500 font-medium hover:bg-gray-100" onclick="closeModal()") Cancel
                    button(type="submit" class="py-2 px-4 bg-[#7F56D9] text-white font-medium hover:bg-[#926FDF] rounded focus:outline-none focus:shadow-outline") Add

    script.
        async function addPromotionList(event) {
            event.preventDefault();

            const name = document.getElementById('name').value;

            const data = { name }; 
            try {
                const response = await fetch('/promotion-lists', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    console.log('Added promotion list successfully');
                    closeModal();
                    window.location.reload();
                } else {
                    console.error('Failed to add promotion list');
                }
            } catch (error) {
                console.error('Failed to add promotion list');
            }
        }

