extends ../partials/dashboard-layout

block content
    - var breadcrumbs = [{ text: 'Dashboard', href: '/' }, 'Customers']
    include ../partials/breadcrumbs

    div(class="w-full h-full flex flex-col items-center mt-4")
        div(class="w-full divide-y divide-gray-200 border rounded-lg overflow-hidden shadow-md")
            div(class="flex items-center justify-between py-4 px-6")
                h1(class="text-lg font-semibold text-gray-800") Customers

            table(class="min-w-full divide-y divide-gray-200")
                - var columns = ['ID', 'Name', 'Email', 'Role', 'Created At', 'Updated At']
                include ../partials/head-table

                - var rows = data
                include ../partials/body-table
                    block items
                        each customer in data
                            tr(key=customer.id class="hover:bg-gray-50 hover:text-[#7F56D9] cursor-pointer" onclick=`window.location='/customers/${customer.id}'`) 
                                each prop in ['id', 'name', 'email', 'role', 'createdAt', 'updatedAt']
                                    td(class="py-4 px-6")= customer[prop]

            div(class="py-4 px-6")
                include ../partials/pagination.pug