extends ../layout

block content
    div(class="main p-3")
        div(class="w-full h-full flex flex-col items-center px-20")
            div(class="w-full divide-y divide-gray-200 border rounded-lg overflow-hidden shadow-md")
                - var columns = ['ID', 'Slug', 'Name', 'Created At', 'Updated At']
                - var rows = data.map(author => [author.id, author.slug, author.name, author.createdAt, author.updatedAt])
                include ../partials/table.pug


                div(class="py-4 px-6")
                    include ../partials/pagination.pug


