extends ../partials/dashboard-layout

block content
    - var breadcrumbs = [{ text: 'Dashboard', href: '/' }, 'Authors']
    include ../partials/breadcrumbs

    div(class="w-full h-full flex flex-col items-center mt-4")
        div(class="w-full divide-y divide-gray-200 border rounded-lg overflow-hidden shadow-md")
            div(class="flex items-center justify-between py-4 px-6")
                h1(class="text-lg font-semibold text-gray-800") Authors
                button(class="flex items-center gap-2 py-2 px-4 border rounded-md bg-[#7F56D9] text-white font-medium hover:bg-[#926FDF]" onclick="openModal()")
                    i.lni.lni-plus
                    span Add Author

            - var columns = ['ID', 'Slug', 'Name', 'Created At', 'Updated At']
            - var rows = data.map(author => [author.id, author.slug, author.name, author.createdAt, author.updatedAt])
            include ../partials/table.pug


            div(class="py-4 px-6")
                include ../partials/pagination.pug

    - var modalTitle = 'Add Author'
    include ../partials/modal
        block modalFormContent
            form(id="add-author-form" onsubmit="addAuthor(event)")
                div(class="mb-8")
                    label(for="name" class="block text-gray-700 text-sm font-medium mb-2") Name
                    input(id="name" type="text" name="name" class="modal-input" autocomplete="off")

                div(class="flex gap-2 justify-end")
                    button(type="button" class="py-2 px-4 border rounded-md bg-gray-50 text-gray-500 font-medium hover:bg-gray-100" onclick="closeModal()") Cancel

                    button(type="submit" class="py-2 px-4 bg-[#7F56D9] text-white font-medium hover:bg-[#926FDF] rounded focus:outline-none focus:shadow-outline") Add


    script.
        async function addAuthor(event) {
            event.preventDefault();

            const name = document.getElementById('name').value;

            const data = { name }; 
            try {
                const response = await fetch('/authors', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    console.log('Added author successfully');
                    closeModal();
                    window.location.reload();
                } else {
                    console.error('Failed to add author');
                }
            } catch (error) {
                console.error('Failed to add author');
            }
        }

